{% extends 'side_nav_base.html' %}

{% block content %}
<br>
<div class="container" style="position: relative; margin:auto;">
    <div class="middle_container">
        <div class="after-container4">
            <p class="spacer" style="height: 2px;">
                
            </p>
            <div class="product_type" onclick="switch_page('')">
                <span class="upper_type_label">
                    <h4 class="text-center" style="font-weight: bolder;">Home</h4>
                </span>
            </div>
            <p class="spacer" style="height: 8px;">
                
            </p>
        </div>
        <br>
        {% for card in cards%}

        {% if card['state'] == 0.0%}
        <div class="after-container4">
            <p class="spacer" style="height: 12px;">

            </p>
            <div class="info_pad" onclick="" style="min-height: 300px;">
                <h2 class="text-center" style=" font-weight: 600;">{{shop_data[0]["shop_name"]}}</h2>
              
                <p><b>{{shop_data[0]["invalid_credentials_message"]}}</b></p>
               
               
                <div class="container">
                    <div class="row">
                        <div class="col-4">
                            
                        </div>
                        <div class="col-8">
                            <lottie-player src="https://assets3.lottiefiles.com/packages/lf20_ed9D2z.json"  background="transparent"  speed="1"  style="width:auto; height: auto;"  loop autoplay></lottie-player>
                        </div>
                      </div>
                </div>
    
               
            </div>
            
            <p class="spacer" style="height: 18px;">
    
            </p>
        </div>
        
       
        {% endif %}       

        {% endfor %}
        <br>
       
 
        <br>
        <br>
        
       



    </div>
    <br>
</div>

<div class="footer" style="height: 60px;">
    <p>
    </p>
</div>
    

{% endblock content %}
